body {
  background-color: rgb(15, 13, 13);
  color: white;
  font-family: serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1.4rem;
}
header div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header div span {
  margin-left: 0.5rem;
}
header div a {
  text-decoration: none;
  color: white;
}
.headerName span {
  font-size: 25px;
  cursor: pointer;
  margin-left: 0.8rem;
}
.homeSidebar {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.homeMatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
}
.homeSidebar div a {
  width: 4rem;
}
.homeSidebar div {
  text-align: center;
  display: flex;
  border: 1.5px solid grey;
  border-radius: 11px;
  padding: 0.7rem;
  gap: 0.5rem;
  align-items: center;
  transition: 0.3s;
}
.homeSidebar div:hover {
  border-radius: 8px;
  border: 1.5px solid white;
}
.homeSidebar div a {
  text-decoration: none;
  color: white;
  font-family: serif;
}
.homeSidebar img {
  width: 18px;
  height: 18px;
}
.matchDisplay {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 2px solid rgba(128, 128, 128, 0.242);
  border-radius: 25px;
  padding: 0.2rem;
  transition: 0.4s;
}

.matchDisplay:hover {
  border: 2px solid rgb(167, 167, 167);
  border-radius: 15px;
}

.matchDisplay div {
  margin-left: 1rem;
  width: 25rem;
  display: flex;
  align-items: center;
}
.matchDisplay div span {
  margin-left: auto;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.matchDisplay img {
  width: 35px;
  height: 35px;
}
/* team name */
.matchDisplay h6 {
  font-size: large;
  letter-spacing: 2px;
}
/* score */
.matchDisplay p {
  font-size: larger;
  margin-left: 1rem;
}

.live {
  margin-left: 7rem;
  text-align: center;
}
.liveDisplay {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.242);
  border-radius: 13px;
  padding: 0.7rem;
  border-left: 6px solid red;
  transition: 0.3s;
}
.liveDisplay:hover {
  border: 1px solid white;
  border-radius: 11px;
}
.liveDet {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}

.liveDisplay div {
  display: flex;
  align-items: center;
}
.liveTime {
  color: red;
  margin-top: 0.5vw;
}
.liveDet div {
  width: 15rem;
}
.liveDet div span {
  margin-left: auto;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.liveHeader {
  text-align: center;
}
.matchTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blinking-dot {
  margin-top: 0.7vw;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.standingTable {
  width: 35rem;
  margin-top: 10vw;
  border: 1px solid rgba(128, 128, 128, 0.189);
  padding: 1rem;
  border-radius: 20px;
  height: 100%;
}
.standing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.standingColumn {
  margin-top: 0.5rem;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.18);
  margin-bottom: 1.5vw;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.standingInfo {
  display: flex;
}
.standingInfo img {
  margin-right: 2vw;
}
.top-position {
  border-bottom: 4px solid rgb(4, 116, 244);
}
.bottom-position {
  border-bottom: 4px solid red(4, 116, 244);
}
.standingDec {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.871);
}
.standingDecStats {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
.standingDecStats span {
  width: 1.2rem;
}
.standingDec span {
  font-size: smaller;
}
.standingNum {
  width: 1rem;
  margin-right: 2vw;
  text-align: center;
  display: inline-block;
}
.standingName {
  width: 9rem;
}

.standingStats {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
.standingStats span {
  width: 1.2rem;
}
.standingColumn img {
  width: 20px;
  height: 20px;
}
.standingHeader {
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}
.standingDecName {
  margin-left: 1rem;
}
.leaguePage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.leagueStadiumName {
  color: grey;
  font-size: smaller;
}
.leagueStadium {
  color: grey;
  font-size: smaller;
  text-align: center;
}
.leagueMatches {
  margin-top: 3rem;
}
.leagueInformation {
  font-size: 1rem;
  color: grey;
  text-align: center;
  margin-top: 0.3rem;
}
.blinkDot {
  margin-top: 0.5vw;
  width: 1px;
  height: 1px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}
.playerContainer {
  width: 33rem;
  height: 100%;
  border: 2px solid rgb(63, 63, 63);
  padding: 1.5rem;
  border-radius: 25px;
  transition: 0.3s;
}
.playerContainer:hover {
  border: 2px solid rgb(167, 167, 167);
  border-radius: 15px;
}
.playerContainer h1 {
  text-align: center;
}
.playerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.playerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}
.playerHeaderGoal {
  margin-right: 0.5rem;
}
.playerPlace {
  width: 1rem;
}

.playerName {
  text-align: center;
  margin-left: 1.2rem;
  width: 7rem;
}
.playerTeam {
  width: 7rem;
}
.playerGoals {
  margin-right: 1rem;
}

.liveCountry {
  margin-top: 3rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 15px;
  width: 25rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  transition: 0.3s;
}
.liveCountry:hover {
  border: 1px solid white;
  border-radius: 13px;
}
.liveCountryContainer {
  height: 55rem;
}
.liveCountryName {
  margin-left: 1rem;
}
.liveCountryScore {
  margin-left: auto;
  padding-right: 1rem;
}
.leagueGameOption button {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: inherit;
  font-size: 0.85rem;
  height: 2.5rem;
  width: 10rem;
  padding: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 15px;
  transition: 0.5s;
}
.leagueGameOption button:hover {
  border-radius: 10px;

  background-color: white;
  color: rgb(0, 0, 0);
}
.leagueMatchesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noGames {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  transition: 3s;
}
.noGames:hover {
  color: red;
}
.euroStanding img {
  width: 2.3rem;
  height: 2.3rem;
}

.euroStandingContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.euroStanding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.euroStandingTop {
  line-height: 1.4rem;
  width: 7rem;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.euroStandingColumn {
  width: 18.9rem;
  margin-left: 1rem;
  border: 2px solid rgb(0, 0, 0);
  padding: 1.5rem;
  border-radius: 20px;
  transition: 0.6s;
}
.euroCupHeader {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}
.euroStandingColumn:hover {
  border: 2px solid rgb(167, 167, 167);
  border-radius: 15px;
}
.euroStandingInfo {
  display: flex;
  font-size: small;
  justify-content: flex-end;
  letter-spacing: 0.8px;
}

.euroStandingInfo p {
  margin: 0px;
  padding: 1px;
}
.euroStandingLow {
  margin-right: 4rem;
  display: flex;
  align-items: center;

  gap: 0.5rem;
}
.euroCupTop {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.honeHeader {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.honeHeader2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  margin-left: 7rem;
}
.newsPage h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3.5rem;
  font-family: Arial, sans-serif;
  transition: 0.5s;
}
.newsPage h1:hover {
  color: grey;
}
.news {
  width: 15rem;
  max-height: 28rem;
  border: 1px solid grey;
  padding: 1.3rem;
  border-radius: 15px;
  transition: 0.3s;
}
.news:hover {
  border: 1px solid white;
  border-radius: 10px;
}
.newsContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.news img {
  max-width: 100%;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.news a {
  text-decoration: none;
  color: rgb(0, 102, 255);
}
.sadPath {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.sadPath h1 {
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  transition: 0.6s;
}
.sadPath h1:hover {
  color: grey;
}
.sadPath a {
  text-decoration: none;
  color: rgb(0, 153, 255);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}
.sadPath a:hover {
  color: rgb(0, 68, 255);
}
@media screen and (max-width: 800px) {
  .live {
    margin-left: 0rem;
  }
  .honeHeader2 {
    margin-left: 0;
  }
}
@media screen and (max-width: 1420px) {
  .homeSidebar {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 449px) {
  body {
    margin: 0;
  }
  .leaguepage {
    width: 100%;
  }
  .standingTable {
    border: 0;
    max-width: 100%;
  }

  .playerContainer {
    width: 100%;
  }
  .leagueMatchesContainer {
    width: 98%;
  }
  .homeSidebar {
    gap: 0.5rem;
  }
  .liveCountry {
    width: 98%;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
  }
  .leagueMatches {
    width: 100%;
  }
  .liveCountryContainer {
    height: 100%;
    width: 98%;
  }
  .liveCountryScore {
    padding-right: 2.5rem;
  }
  .standingStats span:nth-child(5),
  .standingStats span:nth-child(6) {
    display: none;
  }
  .standingDecStats span:nth-child(5),
  .standingDecStats span:nth-child(6) {
    display: none;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
